$appWidth: 1200px;
$datePickerWidth: 200px;
$fontFamily: Verdana, Ms Gothic, Ms PGothic, Arial, sans-serif;

$primary-green: #50b4aa;
$primary-green--hover: #3CA096;
$primary-green--active: #288C82;


$lightgray-color: rgba(100, 100, 100, 1);
$whiteBorderColor: silver;
$background-primary-color: #dbdcdd;

$normal-border-radius: 5px;
$componentSingleLineHeight: 3em;
$table-row-height: 2.0em;
$default-boder-color: rgba(182, 182, 182, 1);
$default-border: 1px solid $default-boder-color;

$border-thin: 1px;
