@import "app/css/variables.css";
@import "app/css/mixins.css";

$padding-simulator: 0.5em;

.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.user-bar {
	@mixin flex-box row, flex-end;
	padding-top: 2em;
	padding-bottom: 2em;

	&__info-container {
		@mixin flex-box;
		flex: 1;
		overflow: hidden;
		&:after {
			display: flex;
			content: '';
			border-top: $border-thin solid $whiteBorderColor;
			height: 0px;
			width: 2em;
		}
	}

	&__user-info {
		@mixin flex-box row,  flex-start, center;
		flex: 1;
		overflow: hidden;
		font-family: $fontFamily;
		flex-wrap: nowrap;
		padding-left: 1rem;
		padding-right: 1rem;
		color: #fff;
		height: $componentSingleLineHeight;
		border-radius: calc($componentSingleLineHeight / 2);
		border: $border-thin solid $whiteBorderColor;

		* {
			font-size: 1.3rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

.main {
	width: 100%;
	max-width: $appWidth;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(219, 220, 221, 0.7);
	overflow: hidden;
	border-radius: 5px;
	@media (max-width: 992px) {
		justify-content: flex-start;
	}

	&__column {
		display: flex;
		flex-direction: column;

		&--left {
			padding-left: 5px;
			padding-right: 5px;
			margin-right: 2px;
			flex: 1 1 auto;
			/* border-right: 10px solid gray; */
			box-shadow: 2px 0px 4px -2px gray;
			/* min-height: 500px; */
			/* background-color: pink; */
		}

		&--right {
			overflow-x: hidden;
			overflow-y: auto;
			min-width: 400px;
			background: linear-gradient(to bottom, #dbdcdd 0%,#fcfaf9 50%,#f5f9fa 100%);
		}
	}
}

.filter-bar {
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	/* background-color: #8e8e8e; */
}

.chart-container {
	flex: 1;
	/* background-color: yellow; */
}

.simulator {
	@mixin flex-box column, center, center;
	font-family: $fontFamily;
	font-size: 1.2rem;

	>div {
		@mixin flex-box row, center, center;
	}

	.time {
		color: $lightgray-color;
		height: 2.4rem;
		padding-left: $padding-simulator;
		padding-right: $padding-simulator;
		align-self: flex-start;
	}

	.tag {
		color: #fff;
		height: $table-row-height;
		padding-left: $padding-simulator;
		padding-right: $padding-simulator;
		align-self: stretch;
		background: #3EADAD;
		text-align: center;
	}

	.section {
		padding: 5px;
		padding-left: 10px;
		padding-right: 10px;
		min-height: 2rem;
		align-self: stretch;
	}
}
