@import "app/css/variables.css";
@import "app/css/mixins.css";

$padding-simulator: 0.5em;
$filter-bar-height: 50px;
$right-column-width: 400px;

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.main {
  width: 100%;
  height: 536px;
  /* max-width: $appWidth; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* flex: 1; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: rgba(219, 220, 221, 0.7); */
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  border-radius: $normal-border-radius;
  @media (max-width: 992px) {
    justify-content: flex-start;
  }
}

.content {
  width: 100%;
  @mixin flex-box row, flex-start, stretch;
  flex-wrap: nowrap;
}

.content-time-series {
  min-height: 500px;
  composes: content;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 20px;
}

.column-left {
  flex: 1 1 0;
  composes: column;
  padding-top: $filter-bar-height;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  /* border-right: 10px solid gray; */
  box-shadow: 2px 0px 4px -2px gray;
  /* min-height: 500px; */
  /* background-color: pink; */
}

.column-right {
  composes: column;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  width: $right-column-width;
  background: linear-gradient(to bottom, #dbdcdd 0%,#fcfaf9 50%,#f5f9fa 100%);
}

.filter-bar {
  position: absolute;
  left: $padding-simulator;
  right: $right-column-width;
  height: $filter-bar-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  >div:first-child {
    margin-right: 1rem;
  }
}

.chart-container {
  /* flex: 1; */
  min-height: 300px;
  @mixin flex-box column center, center;
}

.simulator {
  @mixin flex-box column, flex-start, center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  /* font-family: $fontFamily; */
  font-size: 1.2rem;

  >div {
    flex-shrink: 0;
  }
}

.time {
  @mixin flex-box row, center, center;
  color: $lightgray-color;
  height: 2.4rem;
  padding-left: $padding-simulator;
  padding-right: $padding-simulator;
  align-self: flex-start;
}

.tag {
  color: #fff;
  @mixin flex-box row, center, center;
  height: $table-row-height;
  padding-left: $padding-simulator;
  padding-right: $padding-simulator;
  align-self: stretch;
  background: #3EADAD;
  text-align: center;
}

.section {
  @mixin flex-box row, center, flex-start;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 2rem;
  align-self: stretch;
}
.section-form {
  flex: 1 1 0;
  composes: section;
  overflow-y: auto;
}

.comment-label {
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.comment {
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  flex: 1;
  border: 1px solid black;
  padding: 0.5rem;
  background: #ffffff;
  overflow: auto;
}

.legend-container {
  margin-left: 2rem;
  @mixin flex-box row, flex-start;
  flex: 1;
}

.legend {
  @mixin flex-box row;
  margin-right: 2rem;
  height: 30px;
  /* default icon */
  &:before {
    margin-right: 0.5rem;
    content: url('./images/i_g.png');
  }
}

.actual-legend {
  composes: legend;
  &:before {
    content: url('./images/i_g.png');
  }
}

.predict-legend {
  composes: legend;
  &:before {
    content: url('./images/i_r.png');
  }
}

.simulate-legend {
  composes: legend;
  &:before {
    content: url('./images/i_b.png');
  }
}
