body, html {
	overflow: auto;
	height: 100vh;
}
.root {
	position: relative;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;

	&__container {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}
}
.enter {
	opacity: 0.01;
	transition: opacity 0.5s ease-in;
}

.enterActive {
	opacity: 1;
}

.leave {
	opacity: 1;
	transition: opacity 0.3s ease-in;
}

.leaveActive {
	opacity: 0.01;
}

.appear {
	opacity: 0.01;
	transition: opacity 1.5s ease-in;
}

.appearActive {
	opacity: 1;
}
