@import "app/css/mixins.css";

html, body {
	font-size: 14px;
	margin: 0px;
	display: block;
	@media (max-width: 1199px) {
		overflow-x: auto !important;
	}
}

body {
	background: url("/static/bg_2.jpg") fixed;
	background-attachment: fixed;
	background-size: cover;
}


.root {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	/* @mixin flex-box; */
	height: 100vh;
}

.root-loading {
	composes: root;
	&:after {
		content: '';
		position: absolute;
		z-index: 1001;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		background: rgba(255, 255, 255, 0.5);
	}
	>:global(.ui.loader) {
		&:before{
			border: .2em solid rgba(0,0,0,0.7);;
		}
	}
}

.container {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	height: 100vh;
}

.enter {
	opacity: 0.01;
	transition: opacity 0.5s ease;
}

.enterActive {
	opacity: 1;
}

.leave {
	opacity: 1;
	transition: opacity 0.3s ease;
}

.leaveActive {
	opacity: 0.01;
}

.appear {
	opacity: 0.01;
	transition: opacity 0.5s ease;
}

.appearActive {
	opacity: 1;
}
